@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swift</title>

    <!-- jquery UI -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css" rel="stylesheet" /> 
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.css" rel="stylesheet" /> 

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" /> 

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-lg navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-lg">
                <div class="d-flex justify-content-between align-items-center w-100"> 
                    <a class="navbar-brand hover-zoom" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/swift-logo.png" style="width: 40px"/>
                        <span class="text-light fw-bold h2 mb-0"> Swift </span>
                    </a>

                    <div class="d-flex d-lg-none align-items-center">
                        <a class="text-primary fw-bold" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        <a class="btn btn-outline-light text-light fw-bold mx-2 py-2 px-3" asp-area="" asp-controller="Account" asp-action="Login" data-mdb-toggle="modal" data-mdb-target="#loginModal">Login</a>                
                        <button class="btn btn-primary py-2 px-3" id="sidebar-toggle">
                            Menu
                        </button>
                    </div>
                </div>
                <div class="navbar-collapse collapse d-lg-flex justify-content-end align-items-center">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null) 
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-light mx-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light mx-2" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light mx-2" asp-area="" asp-controller="Account" asp-action="Profile"> 
                                    @HttpContextAccessor.HttpContext.Session.GetString("username")
                                </a>
                            </li>
                            <li class="nav-item" id="logout-btn">
                                <a class="nav-link btn text-primary mx-2 btn-outline-primary rounded-pill px-4"> LOGOUT </a>
                            </li>
                        </ul>
                    } 
                    else 
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-light mx-2" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary mx-2 btn-outline-primary rounded-pill px-3" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light mx-2 btn-primary rounded-pill px-4" asp-area="" data-mdb-toggle="modal" data-mdb-target="#loginModal">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <!-- SIDEBAR -->
    <aside>
        <div id="sidebar" class="d-lg-none bg-light p-4 shadow" styled="border-width: 10px">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-info fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link text-info fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info fw-bold" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                </li>
            </ul>
        </div>        
    </aside>

    <!-- LOGIN MODAL -->
    <div class="modal top fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header border-0">
            <h5 class="modal-title text-center" id="loginModalLabel">LOGIN</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-4 my-4">
            <form class="mx-auto" autocomplete="off" id="form_login">
                <div class="form-outline mb-2">
                    <input type="text" id="login_username" class="form-control" required/>
                    <label class="form-label" for="login_username">Username</label>
                </div>    
                <div class="form-outline mb-4">
                    <input type="password" id="login_password" class="form-control" required/>
                    <label class="form-label" for="login_password">Password</label>
                </div>
                <div class="d-flex flex-column align-items-end"> 
                    <button type="submit" class="btn btn-primary mb-2 w-100 rounded-pill">LOGIN</button>
                    <a class="btn btn-outline-info w-100 rounded-pill" data-mdb-ripple-color="dark"  asp-controller="Account" asp-action="Register">Register</a>
                    <a href="#" data-mdb-target="#forget_passwordModal" data-mdb-toggle="modal" data-mdb-dismiss="modal"> <small> forget password ? </small> </a>
                </div>
            </form>            
        </div>
        </div>
    </div>
    </div>

    <!-- FORGET PASSWORD MODAL -->
    <div class="modal top fade" id="forget_passwordModal" tabindex="-1" aria-labelledby="forget_passwordModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header border-0">
            <h5 class="modal-title text-center" id="forget_passwordModalLabel">Forget your password ?</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-4 my-4">
            <form class="mx-auto" autocomplete="off" id="form_forget_password"> 
                <div class="form-outline mb-4">
                    <input type="text" id="forget_password_email" class="form-control" />
                    <label class="form-label" for="form1">Email Address</label>
                </div>    
                <div class="d-flex flex-column align-items-end"> 
                    <button type="button" id="forget_password_btn" class="btn btn-primary mb-2 w-100 rounded-pill">Reset password</button>
                    <a href="#" class="btn btn-outline-info w-100 rounded-pill" data-mdb-target="#loginModal" data-mdb-toggle="modal" data-mdb-dismiss="modal"> Back To Login </a>
                </div>
            </form>            
        </div>
        </div>
    </div>
    </div>    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted shadow">
        <div class="bg-primary text-light py-4">
            <div class="container-lg row mx-auto align-items-center">
                <div class="col-xl-3">
                    <img style="max-width: 200px" class="mx-auto d-block" src="/images/swift-logo.png" />
                    <p class="text-break"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                </div>
                <div class="col-xl-1"> </div>
                <div class="col-xl-2 col-md-2 col-sm-6">
                    <p class="h4 fw-bold text-info mb-2 text-center text-sm-start"> MENU </p>
                    <ul class="list-unstyled">
                        <li> <a class="text-light mb-2" asp-controller="Home" asp-action="Index"> Home </a> </li>
                        <li> <a class="text-light mb-2" asp-controller="Admin" asp-action="Index"> Admin </a> </li>
                        <li> <a class="text-light mb-2" asp-controller="Account" asp-action="Profile"> Profile </a> </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                    <p class="h4 fw-bold text-info mb-2 text-center text-sm-start"> CONTACT </p>
                    <ul class="list-unstyled">
                        <li> <a class="text-light mb-2" href="tel:0999999999"> <i class="fas fa-phone-alt"></i> : 099-999-9999  </a> </li>
                        <li> <a class="text-light mb-2" href="mailto:#"> <i class="fas fa-envelope"></i> : admin-swift@gmail.com  </a> </li>
                        <li> <a class="text-light mb-2" > <i class="fas fa-home"></i> : Loehmann's Plaza. 2435 Fair Oaks Blvd. Sacramento. CA 95825. Metreon. 155 4th St. Ste 1050 San Francisco CA 94103. San Ramon  </a> </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5897.709518607209!2d-71.09008710121383!3d42.34561984240188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a1b20acefa5%3A0xb3e1b0186ccb3835!2sBerklee%20College%20of%20Music!5e0!3m2!1sen!2sth!4v1627119202961!5m2!1sen!2sth" width="100%" height="250" style="border-radius: 10px;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="container text-center py-1">
            <small> &copy; 2021 - Swift - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> </small>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>    

    @* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
