@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "Home"; }

<div class="text-center">
    <h1 class="display-4">Welcome @HttpContextAccessor.HttpContext.Session.GetString("username")</h1>
</div>
