@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Kanit', sans-serif !important;
}

main {
  min-height: calc(100vh - 450px);
  margin-top: 90px;
}

#sidebar {
  width: 75vw;
  height: calc(100vh -  67px);
  margin-left: -100vw;
  transition: .3s ease;
  position: fixed;
  top: 67px;
  z-index: 99;
}

#sidebar.show-sidebar {
  margin-left: 0;
}

